<h2>Edit item:</h2>

<form action="/{{link.id}}?_method=put" method="post">
  <p>
    <label>Edit link:</label>
    <input type="text" name="title" value="{{link.title}}"/>
    <input type="text" name="url" value="{{link.url}}"/>
    <input type="text" name="description" value="{{link.description}}"/>
  </p>
  <input type="submit" value="Update"/>
</form>

<form action="/{{link.id}}?_method=delete" method="post">
  <input type="submit" value="Remove">
</form>