<h1>LinkHub</h1>

<div>
  <ul>
    {{#if currentUser}}
    <li><a href='/logout'>Logout {{currentUser.local.email}}</a></li>
    {{else}}
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
    {{/if}}
  </ul>
</div>

<a class="post" href="/links/new">Click to post new article</a>

<ul>
  {{#each links}}
    <li>
    <a href="/links/{{this.id}}"> {{this.title}} </a> 
     <a class="button" href="/links/edit/{{this.id}}">Edit</a>
    </li>
  {{/each}}
</ul>




     {{!-- {{this.description}} {{this.url}} --}}