<h1>Links</h1>

<ul>
  {{#each links}}
    <li>
    <a href="{{this.id}}"> {{this.title}} {{this.description}} {{this.url}}</a> 
     <a href="edit/{{this.id}}">Edit</a>
    </li>
  {{/each}}
</ul>

<a href="/new">New Article</a>


     