<h1>LinkHub</h1>

<a class="post" href="/links/new">Click to post new article</a>

<ul>
  {{#each links}}
    <li>
    <a href="/links/{{this.id}}"> {{this.title}} </a> 
     <a class="button" href="/links/edit/{{this.id}}">Edit</a>
    </li>
  {{/each}}
</ul>




     {{!-- {{this.description}} {{this.url}} --}}